PORT=3003

# https://dashboard.stripe.com/test/dashboard
STRIPE_SECRET=copyStripeSecretKey

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/dashboard -> workbench
# Clave secreta del webhook
STRIPE_ENDPOINT_SECRET=copyStripeEndpointSecret